/* ---------------------------------------------------------------------------- */
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/*=================================================================================================*/
